



/* style for color */
.kt--cl-white{
    color:'white' !important
}




/* style for backround color */
.kt--bg-red{
    background-color: red;
}
.kt--bg-header{
    background-color: #00cae3;
}




/*
*======style for padding
*/

.kt--pd-100{
    padding: 100px;
}

.kt--pd-20{
    padding: 20px;
}



/*
*=======style for margin
*/

/* margin bottom */
.kt--mgb-20{
    margin-bottom: 20;
}
/* margin top */
.kt--mgt-20{
    margin-top: 20;
}




/*
*=======style for border
*/

/* border color */
.is-invalid{
    border: 1px solid red;
}
